<div class="corrida corrida-list-item">
    <div class="corrida-cover">
        <img src="https://i.ytimg.com/vi/dy7UidVq3FU/maxresdefault.jpg" alt="corrida">
    </div>
    <div class="corrida-title-container">
        <h2 class="corrida-title">Lançamento de Dardos</h2>
    </div>
    <div class="corrida-author">
        <span class="corrida-author-item">
            <i class="fa-solid fa-person-walking"></i>
            Atletismo
        </span>
        <span class="corrida-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/08/2022 as 9:30
        </span>
        <span class="corrida-author-item">
            <a href="https://www.google.com/maps/place/Estádio+Nilton+Santos/@-22.8932749,-43.2923128,15z/
            data=!4m2!3m1!1s0x0:0x9e05df3c77e2e376?sa=X&ved=2ahUKEwji58jYg4v5AhX4RLgEHQNTDnEQ_BJ6BAhGEAU" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                <span>Estádio Nilton Santos</span>
            </a>
        </span>
    </div>
    <div class="corrida-content">
        <p>Venha conferir as estrelas brasileiras do atletismo disputando pela medalha de ouro no lançamento de dardos!</p>
                   
    </div>
    <div class="corrida-meta-container">
        <div class="corrida-meta">
            <h3 class="corrida-meta-title"><i class="fas fa-stopwatch"></i> Duração do evento</h3>
            <div class="corrida-meta-text">
                2:00 horas
            </div>
        </div>
    </div>
    
        <footer class="corrida-footer">
            <a class="corrida-read-more button button-dark button-full-widht" href="/cob/3/">
                <i class="fas fa-eye"></i>
                <span>Ver mais...</span>
            </a>
        </footer>
    
</div>