{% include 'cob/partials/head.html' %}

<body>
    {% include 'cob/partials/header.html' %}
    {% include 'cob/partials/search.html' %}
    

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="corrida corrida-list-item">
                <div class="corrida-cover">
                    <img src="https://i.ytimg.com/vi/gGuVPfhR6dU/maxresdefault.jpg" alt="corrida">
                </div>
                <h1>kkkkjj</h1>
            </div>
        </div>
    </main>
</body>
</html>